<html>
	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
	<div class = 'pane'>
		<div class = 'header'>
		<h1>{{category.name}}</h1>
		</div>
		<a href = '{{url_for('newItem', category_id = category.id) }}'>Create New Item</a>
		{% for i in items %}
			<div class = 'name'>
				<span class = 'name'>
					<p>{{i.name}}</p>
				</span>
			</div>
			<div class = 'description'>
				<p>{{i.description}}</p>
			</div>
			<div class = "editdeletepane">
				<a href='{{url_for('editItem', category_id = category.id, item_id = i.id)}}'>Edit</a>
				</br>
				<a href = '{{url_for('deleteItem', category_id = category.id, item_id = i.id )}}'>Delete</a>
			</div>
		{% endfor %}
	</div>
	</body>
</html>